.container{
    
    background-color: rgb(23, 23, 48);
}
.header{
    height: 80px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
}

.nav-bar a{
    text-decoration: none; 
    margin-left: 1.5rem;
    color: white;
    font-size: .8rem;
}
.nav-bar a:hover{
    color: orange;
}
