.shop-container{
    display: grid; 
    grid-template-columns: 3fr 2fr;
    /* width: 80%; */
     margin-left:2rem ; 
    margin-top: 2rem;
}
.single-product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: .7rem; 
      
}